<h3>Vielen Dank für deine Mithilfe!</h3>
<p>Wir haben deine Daten erfasst und werden dich in einigen Wochen zur Teilnahme an unserem Redaktionssystem einladen.
Über dieses System wirst du Kommentare zu MitschülerInnen verfassen und an Umfragen und Abstimmungen teilnehmen können.</p>
<hr>
<b>Fragen oder Anmerkungen?</b>
<p>Wenn du an der Arbeit des Abizeitungskomitees interessiert bist oder Fragen an uns hast, melde dich einfach kurz
unter <a href="mailto:zeitung@abimorrowland.de">zeitung@abimorrowland.de</a>.</p>
