<details><summary><b>Erklärung zu Kommentaren</b></summary><p>Mit Kommentaren kannst du dich zurc Person deiner MitschülerInnen äußern. Kommentare werden - nach Freischaltung durch die kommentierte Person und Zustimmung der
  Redaktion - in die Abizeitung übernommen. Bitte fasse dich kurz und verzichte auf herablassende oder beleidigende Äußerungen.
  Bis Redaktionsschluss kannst du Kommentare abgeben oder bereits abgegebene Kommentare löschen.</p></details>
