<p>Kommentar für <%= link_to quote.quotable.full_name, quote.quotable %>:</p>
<%= render partial: 'student_quote', locals: {quote: quote} if quote.quotable.class.to_s == "Profile" %>
<%= render partial: 'teacher_quote', locals: {quote: quote} if quote.quotable.class.to_s == "Teacher" %>
