<h3>Kommentar ändern</h3>
<p>Du bearbeitest gerade einen Kommentar für den Steckbrief von <%= link_to @quote.quotable.full_name, @quote.quotable %>.</p>
<%= simple_form_for @quote, url: { action: 'edit' }, method: :patch do |f| %>
<%= f.input :text, as: :text, label: "Text" %>
<%= f.button :submit, "Ändern" %>
<% end %>
