<h2>Ausstehende Kommentare</h2>
<p>Nachfolgend siehst du eine Übersicht über alle noch nicht freigegebenen Kommentare für dich. Bitte gib Kommentare frei, damit sie auf deinem Steckbrief erscheinen.</p>
<% if current_user.moderator? || current_user.admin? %>
<%= render partial: 'pending_quote', collection: @pending_quotes.where(quotable: current_user.profile), as: :quote %>
<div class="alert alert-info">
  <p>Weil du Moderator oder Administrator bist, siehst du nachfolgend neben den Kommentaren zu dir auch alle anderen nicht freigegebenen Kommentare. Beachte bitte, dass Kommentare regelhaft durch die kommentierte Person freigegeben werden sollten. Gib Kommentare für andere nur frei, wenn es erfoderlich erscheint.</p>
</div>
<% end %>
<%= render partial: 'pending_quote', collection: @pending_quotes, as: :quote %>
