<table id="profiles-table", data-source="<%= profiles_path(format: :json) %>">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
