<div class="alert alert-warning"><p><strong>Hinweis: </strong>Du hast noch kein Profil. Bitte fülle das nachfolgende Formular aus; alle Angaben kannst du später noch ändern.</p></div>
<%= simple_form_for :profile, url: {action: 'create'} do |f| %>
  <%= f.input :first_name, label: "Vorname" %>
  <%= f.input :last_name, label: "Nachname" %>
  <hr />
  <%= f.button :submit, "Erstellen" %>
<% end %>
