<h1><%= @profile.first_name %> <%= @profile.last_name %></h1>
<% if (current_user.profile == @profile || current_user.admin?) %>
<hr />
<%= link_to "Profil bearbeiten", edit_profile_path(@profile) %>
<% end %>
