<table id="contents-table" class="table table-striped table-bordered" data-source="<%= contents_path(format: :json) %>">
  <thead>
    <tr>
      <th>Titel</th>
      <th>Typ</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
