<% if (current_user.admin? rescue false) %>
<% unless hide_ruler %><hr /><% end %>
<%= link_to raw("<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> #{model_name} erstellen"), path, class: 'btn btn-sm btn-success' %>
<% end %>
