<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
<p>Hallo, <%= @token.profile.first_name %>,</p>

<p>vor der Veröffentlichung unserer Abizeitung am 2. Juli würden wir dir gerne die Gelegenheit geben, alle Inhalte, die dich betreffen könnten, zu überprüfen.
Zusätzlich zu unserer redaktionellen Aufarbeitung und zur späteren Überprüfung durch die Schulleitung kannst du so direkt Einfluss auf Inhalte nehmen, die wir in der Masse der Einreichungen übersehen und die unangemessen sein könnten.</p>

<p>Im Laufe des Vorgangs erhältst zudem die Möglichkeit, selbst Inhalte einzureichen und unsere Abizeitung vorzubestellen, sofern du dies noch nicht getan hast.</p>

<p>Besuche einfach <%= link_to main_validations_url(@token.token), main_validations_url(@token.token) %>, um zu beginnen. Bitte beachte, dass die Teilnahme an diesem Verfahren nur bis zum <%= @token.validUntil.strftime("%e.%-m. um %k.%M Uhr") %> möglich ist.
Wir danken dir vielmals für deine Unterstützung.</p>

<p>Viele Grüße<br />
<b>Dein Abizeitungskomitee</b></p>
</body>
</html>
