<h1>Hallo, <%= current_user.profile.first_name %>.</h1>
<p>Wir haben gerade keine Nachrichten für dich; du kannst dich aber dennoch gerne umschauen.</p>
<%= render partial: 'notifications/no_group' %>
