<h2>Willkommen!</h2>
<p>Danke, dass du dich für abimorrownet angemeldet hast. abimorrownet stellt eine Kommunikationsplattform für den Jahrgang dar und ermöglicht es dir,
an der Arbeit der Komitees mitzuwirken. Bitte beachte, dass abimorrownet noch nicht fertig ist. Folgende Funktionen werden demnächst implementiert:</p>
<ul>
  <li><b>Abstimmungen:</b> Nimm an Abstimmungen über Entscheidungen im Jahrgang teil und beteilige dich an Award-Wahlen.</li>
  <li><b>Dokumente:</b> Lade Dokumente herunter und stelle ausgefüllte Formulare bereit.</li>
  <li><b>Benachrichtigungen:</b> Erhalte über wichtige Ereignisse Benachrichtigungen per E-Mail. Stelle ein, welche Benachrichtigungen du erhalten möchtest.</li>
</ul>
<p>Du kannst aber jetzt schon Kommentare zu Mitschülern verfassen oder Inhalte und Zitate für die Abizeitung bereitstellen. Wenn du Mitglied
  in einem Komitee bist und eine Idee für ein Feature hast, das wir umsetzen können, schreibe einfach eine kurze Nachricht an
  <a href="mailto:kevin@quosh.net">den Administrator</a> oder <a href="mailto:zeitung@abimorrowland.de">das Abizeitungskomitee</a>.</p>
<div class="alert alert-info"><b>Verknüpfung:</b> Du kannst deinen Account mit Facebook verknüpfen, um bei der Anmeldung kein Passwort eingeben zu müssen.
Die Verknüpfung kannst du, wenn du möchtest, auch später in "Account bearbeiten" vornehmen. <%= link_to raw('Jetzt verknüpfen &raquo;'), user_omniauth_authorize_path(:facebook) %></div>
<%= link_to raw("Loslegen &raquo;"), root_url, class: 'btn btn-primary' %>
