<ul>
  <% products.each do |product| %>
  <li><%= "#{product.title}: #{number_to_currency(product.price)}" %></li>
  <ul>
    <li><%= "#{product.description}" %></li>
  </ul>
  <% end %>
  <% if shipped %><li>Versandkosten: 0,00 €</li><% end %>
</ul>
