<%
if @committees %>
<%= render partial: 'committee', collection: @committees %>
<% else %>
<p>Keine Komitees.</p>
<% end %>
<%= render partial: 'admin/creatable', locals: {model_name: "Komitee", path: new_committee_path, hide_ruler: false} %>
