<table id="teachers-table" class="table table-striped table-bordered" data-source="<%= teachers_path(format: :json) %>">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= render partial: 'admin/creatable', locals: {model_name: "Lehrer", path: new_teacher_path} %>
