<p>Hallo <%= @resource.email %>,</p>

<p>um dein Passwort zurückzusetzen, folge bitte dem nachfolgenden Link.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Wenn du diese Nachricht nicht angefordert hast, ignoriere sie einfach.</p>
