<h3>Produkte</h3>
<table class="table table-striped table-bordered">
  <thead>
    <th>Titel</th>
    <th>Preis</th>
    <th>Aktion</th>
  </thead>
  <tbody>
    <%= render partial: 'product_entry', collection: @products, as: :product %>
  </tbody>
</table>
<%= render partial: 'admin/creatable', locals: {model_name: "Produkt", path: new_product_path, hide_ruler: false} %>
